@font-face {
    font-family: "FontIcon";
    src: url("App/View/Body/Fonts/BlueLionIcons.otf");
    src: url("App/View/Body/Fonts/BlueLionIcons.woff") format('woff');
    /*src: url("../../../../../../Fonts/BlueLionIcons.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontIconSocialMedia";
    src: url("App/View/Body/Fonts/Brands/Socialico.otf");
    /*src: url("../../../../../../Fonts/Socialico.woff") format('woff');
    src: url("../../../../../../Fonts/Socialico.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontIconSocialMedia2";
    src: url("App/View/Body/Fonts/Brands/SocialicoPlus.otf");
    /*src: url("../../../../../../Fonts/SocialicoPlus.woff") format('woff');
    src: url("../../../../../../Fonts/SocialicoPlus.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontIconSocialMedia3";
    src: url("App/View/Body/Fonts/Brands/MonoSocialIconsFont-1.10.otf");
    src: url("App/View/Body/Fonts/Brands/MonoSocialIconsFont-1.10.woff") format('woff');
    /*src: url("../../../../../../Fonts/SocialicoPlus.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontIconSocialMedia4";
    src: url("App/View/Body/Fonts/Brands/pictonic.ttf");
    src: url("App/View/Body/Fonts/Brands/pictonic.woff") format('woff');
    /*src: url("../../../../../../Fonts/SocialicoPlus.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontAwesome";
    src: url("App/View/Body/Fonts/fontawesome-webfont.ttf");
    src: url("App/View/Body/Fonts/fontawesome-webfont.woff") format('woff');
    /*src: url("../../../../../../Fonts/SocialicoPlus.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontFuturisticI";
    src: url("App/View/Body/Fonts/Letters/FuturisticFontI.otf");
    src: url("App/View/Body/Fonts/Letters/FuturisticFontI.woff") format('woff');
    /*src: url("../../../../../../Fonts/FuturisticFontI.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontFuturisticII";
    src: url("App/View/Body/Fonts/Letters/FuturisticFontII.otf");
    src: url("App/View/Body/Fonts/Letters/FuturisticFontII.woff") format('woff');
    /*src: url("../../../../../../Fonts/FuturisticFontII.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("App/View/Body/Fonts/Letters/OpenSans-Light.ttf")  format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  margin: 0 0 0 0;
}

a {
  cursor: pointer;
  cursor: hand;
}

.checkButton label input {
    position:absolute;
    top:-20px;
}

.checkButton input:checked + div {
    background-color:deepskyblue;
    border-radius: 5px;
}

.checkButton input:checked + div:hover {
    background-color:deepskyblue;
    border-radius: 5px;
    background-color: #cfd8dc;
}

::-moz-selection,::selection {
    outline: 0;
    background: deepskyblue;
}

button,.checkButton {
  background-color: #eee;
  padding: 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
  display: inline-block;
}
button:active,button:focus{
    outline: 0;
    background: deepskyblue;
}

button:hover,.checkButton:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

li{
  display: block;
  float: left;
}

ul,page,header,footer{
    float: none;
    display: block;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.DivClassHalf{
    opacity: 0.5;
}