.DivClassTooltiper{
    width:inherit;
    display:inline-block;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
}

.DivClassTooltiper:hover .DivClassTooltip {
    visibility: visible;
    opacity:0.6;

    -webkit-transition: visibility 0.5s, opacity 0.5s linear;
    -moz-transition: visibility 0.5s, opacity 0.5s linear;
    -ms-transition: visibility 0.5s, opacity 0.5s linear;
    -o-transition: visibility 0.5s, opacity 0.5s linear;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.DivClassTooltip {
    /*background-color: white;*/
    /*color: black;*/
    background-color: #eee;
    /*border:solid 1px black;*/
    border-radius: 5px;
    margin-left: 7px;
    margin-top: 17px;
    padding: 5px;
    position: fixed;
    z-index: 1000;
    
    visibility: hidden;
    opacity:0;

    -webkit-transition: visibility 0.5s, opacity 0.5s linear;
    -moz-transition: visibility 0.5s, opacity 0.5s linear;
    -ms-transition: visibility 0.5s, opacity 0.5s linear;
    -o-transition: visibility 0.5s, opacity 0.5s linear;
    transition: visibility 0.5s, opacity 0.5s linear;
}


