<div class="{{cascadingStyleSheetsClass}}">
    <item
        *ngIf="type=='item'"
        type="{{type}}"
        colorEffect="{{colorEffect}}"
        animationEffect="{{animationEffect}}"
        font="{{font}}"
        info="{{info}}"
        verticalAlign="{{verticalAlign}}"
        width="{{width}}"
        size="{{size}}"
        padding="{{padding}}">
    </item>

    <font
        *ngIf="type=='font'"
        type="{{type}}"
        colorEffect="{{colorEffect}}"
        animationEffect="{{animationEffect}}"
        font="{{font}}"
        info="{{info}}"
        verticalAlign="{{verticalAlign}}"
        width="{{width}}"
        size="{{size}}"
        padding="{{padding}}">
    </font>
</div>