typings
app/**/*.js
app/**/*.map
aPI/**/*.js
aPI/**/*.map
**/*.js
**/*.map
*.js
*.map

node_modules
jspm_packages
bower_components
platforms

!plugins/*.js
!require.js
!node_modules/@types/declaration/*