<form
    (ngSubmit)="onSubmit(form)"
    [formGroup]="form">
    <div
        *ngFor="let array2InputData of modelBasicForm.array3InputData">
        <div [style]="style(array2InputData)|safeStyle"
            *ngFor="let arrayInputData of array2InputData">
            <div [style]="style2(arrayInputData)|safeStyle"
                *ngFor="let inputData of arrayInputData">
                <inputData 
                    [modelInputData]="inputData"
                    [form]="form">
                </inputData>
            </div>
        </div>
    </div>
</form>