<form #basicForm="ngForm"
    (ngSubmit)="onSubmit(basicForm.value)">
    <div
        *ngFor="let array2InputData of modelBasicForm.array3InputData">
        <div style="display: inline-block;"
            *ngFor="let arrayInputData of array2InputData">
            <div style="display: inline-block;"
                *ngFor="let inputData of arrayInputData">
                <inputData
                    [modelInputData]="inputData">
                </inputData>
            </div>
        </div>
    </div>
</form>