<div [formGroup]="form">
<input 
    *ngIf="isField()"
    name="{{modelTextInput.name}}"
    formControlName="{{modelTextInput.name}}"
    placeholder="{{modelTextInput.placeholder}}"
    [style]="style()|safeStyle"
    value="{{modelTextInput.value}}"/>

<div
    *ngIf="isDataList()">
    <input 
        name="{{modelTextInput.name}}"
        formControlName="{{modelTextInput.name}}"
        [attr.list]="getDataListId()"
        placeholder="{{modelTextInput.placeholder}}"
        [style]="style()|safeStyle"
        value="{{modelTextInput.value}}"/>

    <datalist 
        id="{{getDataListId()}}">
        <option 
            *ngFor="let option of modelTextInput.arrayOptions">
            {{option}}
        </option>
    </datalist>
</div>

<textarea 
    *ngIf="isArea()"
    name="{{modelTextInput.name}}"
    formControlName="{{modelTextInput.name}}"
    placeholder="{{modelTextInput.placeholder}}"
    [style]="style()|safeStyle">{{modelTextInput.value}}</textarea>
</div>