<divisorBlock *ngFor="let divisorBlock of arrayModelDivisorBlock0" 
    [modelDivisorBlock]="divisorBlock">
</divisorBlock>

<basicForm
    [modelBasicForm]="basicModelBasicForm">
</basicForm>

<form>
    <div>
        <div>
            <div style="display: inline-block;"><input placeholder="In"/></div>h
            <div class="checkButton">
                <label>
                    <input type="checkbox" name="Flexible"/>
                    <div>
                        Flexible
                    </div>
                </label>
            </div>
        </div>
        <div>
            <div style="display: inline-block;"><input placeholder="Out"/></div>h
            <div class="checkButton">
                <label>
                    <input type="checkbox" name="Flexible"/>
                    <div>
                        Flexible
                    </div>
                </label>
            </div>
        </div>
    </div>

    <div>
        <textarea placeholder="Description"> fuck</textarea>
    </div>

    

</form>

<divisorBlock *ngFor="let divisorBlock of arrayModelDivisorBlock1" 
    [modelDivisorBlock]="divisorBlock">
</divisorBlock>