button {
  margin: 0 0.1em;
  background-color: #eee;
  /*background-color:white;*/
  color: black;
  /*border:none;*/
  border:solid 1px transparent;
  padding: 0px;
  
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
  display: inline-block;
}

button:active,button:focus{
    outline: 0;
    /*border: none;*/
    border:solid 1px transparent;
}

button:active{
    background: deepskyblue;
}

button:focus{
    border: 1px solid deepskyblue;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  /*border: none;*/
  border:solid 1px transparent;
  cursor: auto;
}