<menuLeft>
  <ul class="itemsLeft">
    <li *ngFor="let item of itemsLeft"
      (click)="onSelect(item)"
      [class.selected]="item===selectedItem">
      {{item.effect}}
    </li>
  </ul>
</menuLeft>

<menuCenter>
<ul class="itemsCenter">
  <li *ngFor="let item of itemsCenter"
    (click)="onSelect(item)"
    [class.selected]="item===selectedItem">
    {{item.effect}}
  </li>
</ul>
</menuCenter>

<menuRight>
  <ul class="itemsRight">
    <li *ngFor="let item of itemsRight"
      (click)="onSelect(item)"
      [class.selected]="item===selectedItem">
      {{item.effect}}
    </li>
  </ul>
</menuRight>