checkButton {
  margin: 0 0.1em;
  background-color: #eee;
  color: black;
  border:none;
  padding: 0px;
  
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
  display: inline-block;
}

checkButton:active,checkButton:focus{
    outline: 0;
    border-radius: 5px;
    background-color: deepskyblue;
}

checkButton label input {
    position:absolute;
    /*top:-20px;*/
    visibility: hidden;
}

checkButton input:checked + div, checkButton input:checked + item{
    background-color:deepskyblue;
    border-radius: 5px;
    border: none;
}

checkButton input:checked + div:hover, checkButton input:checked + item:hover{
    /*background-color:deepskyblue;*/
    /*border-radius: 5px;*/
    background-color: #cfd8dc;
    /*border: none;*/
}

checkButton {
  box-sizing: border-box;
}

checkButton:hover {
  background-color: #eee;
}