information{
}

.DivClassHandIconOn, .DivClassHandIcon:hover .DivClassHandIconOff, .DivClassHandIcon .DivClassHandIconOn{
    visibility: hidden;
    height: 0px;
    width: 0px;
    float: left;
}

.DivClassHandIconOff, .DivClassHandIcon:hover .DivClassHandIconOn, .DivClassHandIcon .DivClassHandIconOff{
    visibility: visible;
    height: 100%;
    width: auto;
    float: left;
}

.DivClassConsoleIcon:hover .DivClassConsoleIconOn{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: consoleOn 1s;
    -moz-animation: consoleOn 1s;
    -ms-animation: consoleOn 1s;
    -o-animation: consoleOn 1s;
    animation: consoleOn 1s;

    -webkit-animation-timing-function: steps(2, end);
    -moz-animation-timing-function: steps(2, end);
    -ms-animation-timing-function: steps(2, end);
    -o-animation-timing-function: steps(2, end);
    animation-timing-function: steps(2, end);

    -webkit-animation-delay: -0.5s;
    -moz-animation-delay: -0.5s;
    -ms-animation-delay: -0.5s;
    -o-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.DivClassConsoleIcon:hover .DivClassConsoleIconOn1{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: consoleOn 1s infinite;
    -moz-animation: consoleOn 1s infinite;
    -ms-animation: consoleOn 1s infinite;
    -o-animation: consoleOn 1s infinite;
    animation: consoleOn 1s infinite;

    -webkit-animation-timing-function: steps(2, end);
    -moz-animation-timing-function: steps(2, end);
    -ms-animation-timing-function: steps(2, end);
    -o-animation-timing-function: steps(2, end);
    animation-timing-function: steps(2, end);
}

.DivClassConsoleIcon:hover .DivClassConsoleIconOn2{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: consoleOn 1s infinite;
    -moz-animation: consoleOn 1s infinite;
    -ms-animation: consoleOn 1s infinite;
    -o-animation: consoleOn 1s infinite;
    animation: consoleOn 1s infinite;

    -webkit-animation-timing-function: steps(2, end);
    -moz-animation-timing-function: steps(2, end);
    -ms-animation-timing-function: steps(2, end);
    -o-animation-timing-function: steps(2, end);
    animation-timing-function: steps(2, end);

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;

}

.DivClassConsoleIconOff, .DivClassConsoleIcon .DivClassConsoleIconOff{
    visibility: visible;
    height: 100%;
    width: auto;
}

.DivClassConsoleIconOn, .DivClassConsoleIconOn1, .DivClassConsoleIconOn2, .DivClassConsoleIcon:hover .DivClassConsoleIconOff{
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.DivClassWebIcon:hover .DivClassWebIconOn1{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: webOn 2s infinite;
    -moz-animation: webOn 2s infinite;
    -ms-animation: webOn 2s infinite;
    -o-animation: webOn 2s infinite;
    animation: webOn 2s infinite;

    -webkit-animation-timing-function: steps(4, start);
    -moz-animation-timing-function: steps(4, start);
    -ms-animation-timing-function: steps(4, start);
    -o-animation-timing-function: steps(4, start);
    animation-timing-function: steps(4, start);

    -webkit-animation-delay: -1.5s;
    -moz-animation-delay: -1.5s;
    -ms-animation-delay: -1.5s;
    -o-animation-delay: -1.5s;
    animation-delay: -1.5s;
}

.DivClassWebIcon:hover .DivClassWebIconOn2{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: webOn 2s infinite;
    -moz-animation: webOn 2s infinite;
    -ms-animation: webOn 2s infinite;
    -o-animation: webOn 2s infinite;
    animation: webOn 2s infinite;

    -webkit-animation-timing-function: steps(4, start);
    -moz-animation-timing-function: steps(4, start);
    -ms-animation-timing-function: steps(4, start);
    -o-animation-timing-function: steps(4, start);
    animation-timing-function: steps(4, start);

    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
    -ms-animation-delay: -1s;
    -o-animation-delay: -1s;
    animation-delay: -1s;
}

.DivClassWebIcon:hover .DivClassWebIconOn3{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: webOn 2s infinite;
    -moz-animation: webOn 2s infinite;
    -ms-animation: webOn 2s infinite;
    -o-animation: webOn 2s infinite;
    animation: webOn 2s infinite;

    -webkit-animation-timing-function: steps(4, start);
    -moz-animation-timing-function: steps(4, start);
    -ms-animation-timing-function: steps(4, start);
    -o-animation-timing-function: steps(4, start);
    animation-timing-function: steps(4, start);

    -webkit-animation-delay: -0.5s;
    -moz-animation-delay: -0.5s;
    -ms-animation-delay: -0.5s;
    -o-animation-delay: -0.5s;
    animation-delay: -0.5s;

}

.DivClassWebIcon:hover .DivClassWebIconOn4{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: webOn 2s infinite;
    -moz-animation: webOn 2s infinite;
    -ms-animation: webOn 2s infinite;
    -o-animation: webOn 2s infinite;
    animation: webOn 2s infinite;

    -webkit-animation-timing-function: steps(4, start);
    -moz-animation-timing-function: steps(4, start);
    -ms-animation-timing-function: steps(4, start);
    -o-animation-timing-function: steps(4, start);
    animation-timing-function: steps(4, start);

}

.DivClassWebIconOff, .DivClassWebIcon .DivClassWebIconOff{
    visibility: visible;
    height: 100%;
    width: auto;
}

.DivClassWebIconOn1, .DivClassWebIconOn2, .DivClassWebIconOn3, .DivClassWebIconOn4, .DivClassWebIcon:hover .DivClassWebIconOff{
    visibility: hidden;
    height: 0px;
    /*width: 0px;*/
}
